<div class="container">
        <div style="padding:10px">
                <input type="file" id="input-excel" accept=".xls" class="btn btn-primary"/>
        </div>

            <div class="fileDetails opts"">
                    <div class="panel panel-default">
                           
                            <div class="panel-body">
                                    <div class="row">
                                            <div class="col-sm-4"><label class="lbl grey">NO OF ROWS UPLOADED:</label> <span class="fdata blue" id="rCount"></span></div>
                                            <div class="col-sm-4"><label class="lbl grey">File Name:</label> <span class="fdata blue" id="fname"></span></div>
                                           
                                            
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-4"><label class="lbl grey">File Size:</label> <span class="fdata blue" id="fsize"></span></div>
                                            <div class="col-sm-4"><label class="lbl grey">Uploaded on:</label> <span class="fdata blue" id="fdate"></span></div>
                                            
                                    </div>                         
                                
                            </div>                    
                    </div>        
               
            </div>
</div>