h1 {
  	color: #ffa400;    
    font-weight: bold;
    font-size: 2.1em;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-bottom: 20px;
}

.todoinput{

	border-width: 3px;
    border-color: #7f94da;
    height: 60px;   
    width: 350px;
    margin: auto;
}

.todolist{
	width: 350px;
    margin: auto;
}

.todotext{
	color: white;
    background-color: #7f94da;
    white-space: pre-line;
    padding: 10px 10px 1px 10px;
    border: 1px solid #CCC;
   
    margin-bottom: 5px;
   
    cursor: pointer;
    
}


.removeTask:hover {
    color:red;
}

.addReminder:hover {
    color:orange;
}

.todoOptions{
	    margin-left: 260px;
}


.green{
	color:green;
}

.red{
	color:red;
}

.orange{
	color:orange;
}

.browserOptions {
    font-size: 14px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.todoCount{
	font-family: 'Denk One', sans-serif;
}
