h1 {
  	color: #ffa400;    
    font-weight: bold;
    font-size: 2.1em;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-bottom: 20px;
}

.todoinput{

	border-width: 3px;
    border-color: #7f94da;
    height: 60px;   
   max-width: 330px;
    margin: auto;
}

.todolist{
	
}

.todotext{
	color: white;
    /*background-color: #7f94da;*/
        background-color: #605f5f;
    white-space: pre-line;
    padding: 10px 10px 1px 10px;
    border: 1px solid #CCC;
   
    margin-bottom: 5px;
   
    cursor: pointer;
    
}


.removeTask:hover {
    color:red;
}

.markcomplete:hover {
    color:green;
}

.markcomplete.true {
    color:green;
}

.addReminder:hover {
    color:orange;
}

.addReminder.false {
    color:green;
}

.todotext.true {
  
}

/*span[todoCompleted=true] {
    text-decoration: line-through;
}*/

#todocompleted-true{
    text-decoration: line-through;
    color:red;
}

.label-warning.false {
    background-color: #5cb85c;
}

.todoOptions{
	    text-align: right;
        margin-top: -50px;
        font-size: 16px;
}


.green{
	color:green;
}

.red{
	color:red;
}

.orange{
	color:orange;
}

.browserOptions {
    font-size: 14px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.todoCount{
	font-family: 'Denk One', sans-serif;
}


/*.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}*/

.tcontainer {

    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;   
    overflow-y:scroll;
    overflow-x:hidden;
    margin: auto;
    margin-top: -20px !important;
    height: 300px;
        max-width: 500px;
    
    
}
.createdOn{
font-size: 9px;
float: right;
}