

.expenses{
    padding:60px;
}

.container {
    padding:30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
