.editor{
	height: 400px !important;
	background-color: transparent;
	/*border-color:transparent;*/
	/*border-color: #3d3a3a;*/
	color:white;
}

body{
background-color: #1a1919;	
color:white;

}

.editor:focus {
    outline: none !important;
   /*border-color:transparent;*/
    border-color: white;
    box-shadow: 0 0 0px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}





.active {
    background-color: #4CAF50;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

textarea {
    resize: none;
}

.filename{

  padding: 32px 16px;
  background: transparent;
  border: 0;
  border-color:transparent;
  outline: none;
  color: #f6fbff;   
  

}

::-webkit-input-placeholder {
  color: #9b9c9c; 
  font-size: 14px;
}


::-moz-input-placeholder {
  color: #9b9c9c; 
  font-size: 14px;
}	

li button {
    background: transparent;
    color: white;
    border: transparent;
}


