<!DOCTYPE html>
<html lang="en" data-ng-app = "todoapp">

<head >

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="./images/favicon.png" />

    <title>TODO App</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Google fonts css -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>


    <!-- Custome CSS -->
    <link rel="stylesheet" href="./css/custom.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"/>



  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-ng-controller = "mainController">
    <div class = "TODO-container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1>TODO <img src="./images/todo.png" height="42" width="42"></h1>
                <!--<input type="text" placeholder = "Add a task...." class="form-control todoinput"  ng-model = "todotext" my-enter="addTodoItem()"/>-->
                <textarea type="text" placeholder = "Add a task...." class="form-control todoinput" ng-model = "todotext"></textarea>
               <button class = "btn btn-primary btn-add" ng-click = "addTodoItem()" data-toggle="tooltip" title="ADD!"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-4">
               
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
               <div id="todo">
                      <input type="text" id="query" ng-model="query" placeholder = "search...." />
                      <select ng-model="orderList">
                        <option value="-age">Newest</option>
                        <option value="age">Oldest</option>
                      </select>
                      <ul id="todo_ul">
                        <li ng-repeat="todoitem in todoitems | filter:query | orderBy: orderList" class="ng-cloak">
                          {{todoitem.text}}
                          <br/>
                          <div class="ng-cloak right top">{{todoitem.age}}</div>
                        </li>
                      </ul>
                      <span class="ng-cloak">Total TODO items: {{todoitems.length}}</span>
                </div>
            </div>
            <div class="col-md-4"></div>
          </div>
    </div>
    
   
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.js"></script>
    
    <!-- Custome JS -->
    <script Src="./js/todo-controller.js"></script>


</body>

</html>
